{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSameLine": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "semi": false,
  "quoteProps": "preserve",
  "proseWrap": "preserve"
}
